<?xml version="1.0" encoding="Windows-1252" ?>
<NotepadPlus>
    <!-- The History of opened files list -->
    <FindHistory nbMaxFindHistoryPath="10" nbMaxFindHistoryFilter="10" nbMaxFindHistoryFind="10" nbMaxFindHistoryReplace="10" matchWord="no" matchCase="yes" wrap="yes" directionDown="yes" fifRecuisive="yes" fifInHiddenFolder="no" dlgAlwaysVisible="no" fifFilterFollowsDoc="no" fifFolderFollowsDoc="no" searchMode="0" transparencyMode="1" transparency="150" dotMatchesNewline="no" isSearch2ButtonsMode="no" regexBackward4PowerUser="no">
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Filter name="" />
        <Find name="DFERR_NOLINE" />
        <Find name="DFERR_ABORT" />
        <Find name="DFERR_STRLONG" />
        <Find name="DFERR_NOORG" />
        <Find name="df_rt_nextstat" />
        <Find name="and " />
        <Find name="always" />
        <Find name="utilPrintSPC" />
        <Find name="lda #" />
        <Find name="DFERR_QUANTITY" />
        <Replace name="" />
        <Replace name="." />
    </FindHistory>
    <History nbMaxFile="15" inSubMenu="no" customLength="-1">
        <File filename="C:\Users\Dolo\Documents\Home Brew Computer\Raspberry\Pico\downloads\pico-examples\build\CMakeFiles\TargetDirectories.txt" />
        <File filename="C:\Users\Dolo\Documents\Home Brew Computer\Raspberry\Pico\downloads\pico-examples\build\compile_commands.json" />
        <File filename="C:\Users\Dolo\Documents\Home Brew Computer\Raspberry\Pico\downloads\pico-examples\build\CMakeCache.txt" />
        <File filename="C:\Users\Dolo\Documents\Home Brew Computer\Raspberry\Pico\downloads\pico-examples\build\blink\Makefile" />
        <File filename="C:\Users\Dolo\Documents\GitHub\dflat\Oric-DFLAT\emulator\stderr.txt" />
        <File filename="C:\Users\Dolo\Documents\Home Brew Computer\Oric-VBCC\vbcc6502\README" />
        <File filename="C:\Users\Dolo\Documents\Emulators\Oric-Dflat\MyPrograms\LASTSTAND2021\readme.txt" />
        <File filename="C:\Users\Dolo\.bash_history" />
        <File filename="F:\Projects\10LineBASIC\Connect4\cnt4.txt" />
        <File filename="F:\Projects\10LineBASIC\Connect4\cnt4.bas" />
        <File filename="C:\Users\Dolo\Documents\Home Brew Computer\Oric-DFLAT\Makefile" />
        <File filename="C:\Users\Dolo\Documents\Home Brew Computer\Oric-DFLAT\bank\bank0.lst" />
        <File filename="C:\Users\Dolo\Documents\Home Brew Computer\DOLO-128\vdp\graph.s" />
        <File filename="C:\Users\Dolo\Documents\Home Brew Computer\Oric-DFLAT\npp\langs.xml" />
        <File filename="C:\Users\Dolo\Documents\Home Brew Computer\Oric-DFLAT\npp\userDefineLang.xml" />
    </History>
    <ProjectPanels>
        <ProjectPanel id="0" workSpaceFile="" />
        <ProjectPanel id="1" workSpaceFile="" />
        <ProjectPanel id="2" workSpaceFile="" />
    </ProjectPanels>
    <GUIConfigs>
        <GUIConfig name="ToolBar" visible="yes">standard</GUIConfig>
        <GUIConfig name="StatusBar">show</GUIConfig>
        <GUIConfig name="TabBar" dragAndDrop="yes" drawTopBar="yes" drawInactiveTab="yes" reduce="yes" closeButton="yes" doubleClick2Close="no" vertical="no" multiLine="no" hide="yes" quitOnEmpty="no" iconSetNumber="0" />
        <GUIConfig name="ScintillaViewsSplitter">vertical</GUIConfig>
        <GUIConfig name="UserDefineDlg" position="undocked">hide</GUIConfig>
        <GUIConfig name="TabSetting" replaceBySpace="no" size="4" />
        <GUIConfig name="AppPosition" x="-962" y="8" width="947" height="1016" isMaximized="no" />
        <GUIConfig name="FindWindowPosition" left="-1565" top="664" right="-976" bottom="1028" />
        <GUIConfig name="FinderConfig" wrappedLines="no" />
        <GUIConfig name="noUpdate" intervalDays="15" nextUpdateDate="20210331">no</GUIConfig>
        <GUIConfig name="Auto-detection">yes</GUIConfig>
        <GUIConfig name="CheckHistoryFiles">no</GUIConfig>
        <GUIConfig name="TrayIcon">no</GUIConfig>
        <GUIConfig name="MaitainIndent">yes</GUIConfig>
        <GUIConfig name="TagsMatchHighLight" TagAttrHighLight="yes" HighLightNonHtmlZone="no">yes</GUIConfig>
        <GUIConfig name="RememberLastSession">yes</GUIConfig>
        <GUIConfig name="DetectEncoding">yes</GUIConfig>
        <GUIConfig name="NewDocDefaultSettings" format="0" encoding="4" lang="0" codepage="-1" openAnsiAsUTF8="yes" />
        <GUIConfig name="langsExcluded" gr0="0" gr1="0" gr2="0" gr3="0" gr4="0" gr5="0" gr6="0" gr7="0" gr8="0" gr9="0" gr10="0" gr11="0" gr12="0" langMenuCompact="yes" />
        <GUIConfig name="Print" lineNumber="no" printOption="3" headerLeft="$(FULL_CURRENT_PATH)" headerMiddle="" headerRight="$(LONG_DATE) $(TIME)" footerLeft="" footerMiddle="-$(CURRENT_PRINTING_PAGE)-" footerRight="" headerFontName="IBMPC" headerFontStyle="1" headerFontSize="8" footerFontName="" footerFontStyle="0" footerFontSize="9" margeLeft="0" margeRight="0" margeTop="0" margeBottom="0" />
        <GUIConfig name="Backup" action="0" useCustumDir="no" dir="" isSnapshotMode="yes" snapshotBackupTiming="7000" />
        <GUIConfig name="TaskList">yes</GUIConfig>
        <GUIConfig name="MRU">yes</GUIConfig>
        <GUIConfig name="URL">2</GUIConfig>
        <GUIConfig name="globalOverride" fg="no" bg="no" font="yes" fontSize="yes" bold="yes" italic="no" underline="no" />
        <GUIConfig name="auto-completion" autoCAction="3" triggerFromNbChar="4" autoCIgnoreNumbers="yes" funcParams="yes" />
        <GUIConfig name="auto-insert" parentheses="yes" brackets="yes" curlyBrackets="yes" quotes="no" doubleQuotes="yes" htmlXmlTag="no" />
        <GUIConfig name="sessionExt"></GUIConfig>
        <GUIConfig name="workspaceExt"></GUIConfig>
        <GUIConfig name="MenuBar">show</GUIConfig>
        <GUIConfig name="Caret" width="1" blinkRate="250" />
        <GUIConfig name="ScintillaGlobalSettings" enableMultiSelection="no" />
        <GUIConfig name="openSaveDir" value="0" defaultDirPath="" />
        <GUIConfig name="titleBar" short="no" />
        <GUIConfig name="stylerTheme" path="C:\Users\Dolo\AppData\Roaming\Notepad++\stylers.xml" />
        <GUIConfig name="wordCharList" useDefault="yes" charsAdded="" />
        <GUIConfig name="delimiterSelection" leftmostDelimiter="40" rightmostDelimiter="41" delimiterSelectionOnEntireDocument="no" />
        <GUIConfig name="multiInst" setting="0" />
        <GUIConfig name="MISC" fileSwitcherWithoutExtColumn="no" backSlashIsEscapeCharacterForSql="yes" writeTechnologyEngine="0" newStyleSaveDlg="no" isFolderDroppedOpenFiles="no" docPeekOnTab="no" docPeekOnMap="no" saveDlgExtFilterToAllTypesForNormalText="no" />
        <GUIConfig name="Searching" monospacedFontFindDlg="no" stopFillingFindField="no" findDlgAlwaysVisible="no" confirmReplaceInAllOpenDocs="yes" />
        <GUIConfig name="searchEngine" searchEngineChoice="2" searchEngineCustom="" />
        <GUIConfig name="SmartHighLight" matchCase="no" wholeWordOnly="yes" useFindSettings="no" onAnotherView="no">yes</GUIConfig>
        <GUIConfig name="ScintillaPrimaryView" lineNumberMargin="show" bookMarkMargin="show" indentGuideLine="show" folderMarkStyle="box" lineWrapMethod="aligned" currentLineHilitingShow="show" scrollBeyondLastLine="no" rightClickKeepsSelection="no" disableAdvancedScrolling="no" wrapSymbolShow="hide" Wrap="yes" borderEdge="yes" isEdgeBgMode="no" edgeMultiColumnPos="" zoom="0" zoom2="0" whiteSpaceShow="hide" eolShow="hide" borderWidth="2" smoothFont="no" />
        <GUIConfig name="DockingManager" leftWidth="146" rightWidth="200" topHeight="200" bottomHeight="252">
            <FloatingWindow cont="4" x="39" y="110" width="258" height="666" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44070" curr="0" prev="-1" isVisible="yes" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="0" curr="3" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="42052" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="dummy" id="0" curr="3" prev="-1" isVisible="yes" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44080" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44084" curr="4" prev="1" isVisible="no" />
            <ActiveTabs cont="0" activeTab="0" />
            <ActiveTabs cont="1" activeTab="-1" />
            <ActiveTabs cont="2" activeTab="-1" />
            <ActiveTabs cont="3" activeTab="-1" />
        </GUIConfig>
    </GUIConfigs>
</NotepadPlus>
